<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
	<!-- the property file-path is configured here -->
    <!-- this loads the property file -->
    <context:property-placeholder location="classpath:region.properties"/>
   
	<!-- Defining the beans -->
	<bean id="paratha" class="com.learnspring.Paratha">
		<!-- injecting values from property file -->
		<property name="country" value="${region.country}" />
		<property name="continent" value="${region.continent}" />
	</bean>
	
	<bean id="parotta" class="com.learnspring.Parotta">
		<!-- injecting values -->
		<property name="country" value="${region.country}" />
		<property name="continent" value="${region.continent}" />
	</bean>
	
	
</beans>




